@charset "UTF-8";
/* foundation */
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #fffdf4;
  color: #36332f;
}

a {
  text-decoration: none; /* デフォルトの紫と下線を消す */
  color: #525b68;
  transition: all 0.3s ease;
}

/* layout */
.l-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.l-frame {
  z-index: 100;
}
.l-frame__top {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
}
.l-frame__bottom {
  width: 100%;
  height: 45px;
  position: fixed;
  left: 0;
  bottom: 0;
}
.l-frame__side {
  width: 7%;
  height: calc(100vh - 60px - 45px);
}
.l-frame__side--left {
  position: fixed;
  top: 60px;
  left: 0;
}
.l-frame__side--left::before, .l-frame__side--left::after {
  content: "";
  position: absolute;
  right: -1px;
  width: 1px;
  background-color: #525b68;
}
.l-frame__side--left::before {
  top: calc(60px * -1);
  height: 60px;
}
.l-frame__side--left::after {
  bottom: calc(45px * -1);
  height: 45px;
}
.l-frame__side--right {
  position: fixed;
  top: 60px;
  right: 0;
}
.l-frame__side--right::before, .l-frame__side--right::after {
  content: "";
  position: absolute;
  left: -1px;
  width: 1px;
  background-color: #525b68;
}
.l-frame__side--right::before {
  top: calc(60px * -1);
  height: 60px;
}
.l-frame__side--right::after {
  bottom: calc(45px * -1);
  height: 45px;
}

.l-main {
  width: calc(100% - 7% * 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.l-scroll__adjustment-top {
  padding-top: 60px;
}
.l-scroll__adjustment-bottom {
  padding-bottom: 45px;
}

/* object */
/* component */
.c-container {
  border-bottom: 1px solid #525b68;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.c-heading {
  width: 60%;
  padding-bottom: 0.5rem;
  position: relative;
  font-size: 3rem;
  font-family: "IM Fell English", serif;
  color: #45312e;
}
.c-heading::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #525b68;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.8s ease-out;
}
.c-heading--is-active::after {
  transform: scaleX(1);
}

.c-card {
  width: 100%;
  max-width: 600px;
}
.c-card__title {
  padding: 0.5rem;
  border-bottom: 1px solid #414141;
  font-family: "Sawarabi Mincho", serif;
  font-size: 1.5rem;
}
.c-card__pair {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.c-card__text {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #414141;
  text-align: left;
  font-family: "Klee One", cursive;
  line-height: 1.6;
}
.c-card__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-card__footer {
  padding-top: 0.5rem;
  border-top: 1px solid #414141;
  font-size: 0.85rem;
  color: #7a6c5d;
  text-align: left;
}

/* project */
@keyframes noise-dance {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-1%, -2%);
  }
  40% {
    transform: translate(2%, 1%);
  }
  60% {
    transform: translate(-2%, -1%);
  }
  80% {
    transform: translate(1%, 2%);
  }
  100% {
    transform: translate(-1%, 0);
  }
}
.p-overlay {
  background-size: cover;
  pointer-events: none;
}
.p-overlay__noise {
  z-index: calc(200 + 10);
  background-image: url(../assets/noise.svg);
  opacity: 0.03;
  animation: noise-dance 0.2s steps(2) infinite;
}
.p-overlay__stain {
  z-index: calc(200 + 20);
  background-image: url(../assets/stain.svg);
  opacity: 1;
}

.p-about__frame {
  background-color: #fffdf4;
}
.p-about__frame--top {
  border-top: 1px solid #525b68;
}
.p-about__frame--bottom {
  border-bottom: 1px solid #525b68;
}
.p-about__frame--left {
  border-left: 1px solid #525b68;
}
.p-about__frame--right {
  border-right: 1px solid #525b68;
}

.p-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  pointer-events: all;
}
.p-header__nav-list {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  list-style: none;
}

.p-name {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.p-name__name {
  font-family: "Shippori Mincho", serif;
  font-size: 6rem;
  color: #45312e;
}
.p-name__note {
  font-family: "Klee One", cursive;
  color: #7a6c5d;
  font-size: 1.2rem;
}
.p-name__arrow-text {
  font-family: "Klee One", cursive;
}

.p-works__grid {
  display: grid;
  grid-template-columns: 1fr;
}

.p-articles__grid {
  display: grid;
  grid-template-columns: 1fr;
}

.p-stacks {
  width: 100%;
}
.p-stacks__category {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
}
.p-stacks__title {
  font-size: 2rem;
}
.p-stacks__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
  list-style: none;
}
.p-stacks__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-stacks__head {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex: 1;
}
.p-stacks__icon {
  width: calc(1.5rem * 2);
  height: auto;
}
.p-stacks__icon--main {
  fill: #975600;
}
.p-stacks__icon--sub {
  fill: #574938;
}
.p-stacks__icon--accent {
  fill: #d49853;
}
.p-stacks__name {
  width: auto;
  height: 100%;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.5rem;
}
.p-stacks__text {
  width: 100%;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e1d8ba;
  text-align: left;
  font-family: "Klee One", cursive;
  line-height: 1.2;
}

.p-profile {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.p-profile__inner {
  padding: 0 1rem;
}
.p-profile__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
.p-profile__title {
  padding-bottom: 0.5rem;
  text-align: left;
  font-family: "IM Fell English", serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #2b2d31;
}
.p-profile__head, .p-profile__label, .p-profile__data {
  border-bottom: 1px solid #525b68;
  text-align: left;
  vertical-align: top;
}
.p-profile__head {
  border-bottom: 1px solid #525b68;
  padding-bottom: 0.5rem;
  font-family: "JetBrains Mono", monospace;
}
.p-profile__head:first-child {
  width: 150px;
  padding-right: 2rem;
}
.p-profile__label {
  width: 120px;
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  color: #414141;
}
.p-profile__label:first-child {
  width: 150px;
  padding-right: 2rem;
}
.p-profile__data {
  font-family: "Klee One", cursive;
}

.p-links__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
}
.p-links__item {
  margin: 0;
}
.p-links__url {
  text-decoration: none;
  color: #36332f;
  font-weight: bold;
  transition: all 0.2s ease;
}

/* utility*/
.u-border--top {
  border-top: 1px solid #2a2a2a;
}
.u-border--bottom {
  border-bottom: 1px solid #2a2a2a;
}
.u-border--left {
  border-left: 1px solid #2a2a2a;
}
.u-border--right {
  border-right: 1px solid #2a2a2a;
}/*# sourceMappingURL=style.css.map */