@charset "UTF-8";

@use "../foundation/variable";

.l-main{
    width: calc(#{variable.$layout-width} - (#{variable.$layout-side-width} * 2));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}