@charset "UTF-8";

@use "../../foundation/variable";

.p-header{
    width: variable.$layout-width;
    height: variable.$layout-header-height;

    display: flex;
    align-items: center;
    justify-content: space-around;

    pointer-events: all;

    &__nav-list{
        display: flex;
        justify-content: space-around;

        gap: variable.$layout-space-s;

        list-style: none;
    }
}