@charset "UTF-8";

@use "../../foundation/variable";

.p-links{
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: variable.$layout-space-l;
        list-style: none;
        padding: 0;
        margin-top: variable.$layout-space-l;
    }

    &__item{
        margin: 0;
    }

    &__url{
        text-decoration: none;
        color: variable.$color-carbon-black;
        font-weight: bold;
        transition: all 0.2s ease;
    }
}