@charset "UTF-8";

@use "../../foundation/variable";

.p-profile{
    display: flex;
    flex-direction: column;
    align-content: center;

    &__inner{
        padding: 0 variable.$layout-space-md;
    }

    &__table{
        width: 100%;
        
        border-collapse: collapse;
        margin-top: variable.$layout-space-md;
    }

    &__title{
        padding-bottom: variable.$layout-space-s;

        text-align: left;
        font-family: variable.$font-header;
        font-weight: bold;
        font-size: variable.$font-size-item-title;
        color: variable.$color-iron-gall;
    }

    &__head,
    &__label,
    &__data{
        border-bottom: variable.$border-size-md solid variable.$color-drafting-slate;
        text-align: left;
        vertical-align: top;
    }

    &__head{
        border-bottom: variable.$border-size-md solid variable.$color-drafting-slate;
        padding-bottom: variable.$layout-space-s;

        font-family: variable.$font-code;

        &:first-child {
            width: 150px;
            padding-right: variable.$layout-space-xl;
        }
    }

    &__label {
        width: 120px;

        font-family: variable.$font-code;

        font-weight: bold;
        color: variable.$color-text-sub;
        
        &:first-child {
            width: 150px;
            padding-right: variable.$layout-space-xl;
        }
    }

    &__data{
        font-family: variable.$font-base;
    }
}