@charset "UTF-8";

@use "../../foundation/variable";

.c-card{
    width: 100%;
    max-width: 600px;

    &__title{
        padding: variable.$layout-space-s;

        border-bottom: variable.$border-size-md solid variable.$color-text-sub;

        font-family: variable.$font-title;
        font-size: variable.$font-size-item-title;
    }

    &__pair{
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__text {
        padding-bottom: variable.$layout-space-s;
        border-bottom: variable.$border-size-md solid variable.$color-text-sub;
        text-align: left;
        font-family: variable.$font-base;
        line-height: 1.6;
    }

    &__img {
        width: 100%;
        object-fit: cover;
    }

    &__footer{
        padding-top: variable.$layout-space-s;

        border-top: variable.$border-size-md solid variable.$color-text-sub;

        font-size: variable.$font-size-caption;
        color: variable.$color-sepia-faded;
        text-align: left;
    }
}