@charset "UTF-8";

@use "../../foundation/variable";

.c-container{
    border-bottom: variable.$border-size-md solid variable.$color-drafting-slate;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}