@charset "UTF-8";

@use "../../foundation/variable";

.c-heading{
    width: 60%;

    padding-bottom: variable.$layout-space-s;

    //border-bottom: variable.$border-size-md solid variable.$color-drafting-slate;

    position: relative;

    font-size: variable.$font-size-section-title;
    font-family: variable.$font-header;

    color: variable.$color-seal-red;

    &::after{
        content: "";

        width: 100%;
        height: variable.$border-size-md;

        position: absolute;

        bottom: 0;
        left: 0;

        background-color: variable.$color-drafting-slate;

        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.8s ease-out;
    }

    &--is-active::after{
        transform: scaleX(1);
    }
}