.rect{
    fill: blue;
    stroke: red;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;

    animation: drawAndErase 3s ease-in-out infinite;
}
.rect:hover{
    fill: aqua;
}
@keyframes drawAndErase {
    0% {
        stroke-dashoffset: 200;
    }
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -200;
    }
}